.vs/
.idea/
bin/
obj/
*DotSettings.user

src/Presentation/NovyGorodAsp/appsettings.ini
src/Presentation/NovyGorodAsp/Logs
src/Presentation/NovyGorodAsp/media-data
src/Presentation/NovyGorodAsp/wwwroot/lib
src/Presentation/NovyGorodAsp/wwwroot/css/style.css
src/Presentation/NovyGorodAsp/wwwroot/css/style.css.map

scripts/UserSecrets.ps1

tools/NovyGorod.DbSeeder/appsettings*.json
tools/NovyGorod.DbSeeder/data