@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>ООО «Телестудия Новый Город» – белорусская частная компания, осуществляющая производство авторских телевизионных программ и видеопродукции различного назначения (документальные и постановочные фильмы, рекламные ролики, презентационные фильмы), сотрудничающая с ведущими государственными и частными телевизионными каналами Республики Беларусь.</p>
    <p>Кроме того, в 2012 году «Телестудия Новый Город» организовала детскую школу телевизионного мастерства и журналистики, где ребята осваивают актерское мастерство, технику речи, психологию интервью, мастерство оператора и видеоинженера, работу на съемочной площадке. Наши ученики участвовали уже во многих международных фестивалях детского экранного творчества, становясь победителями на некоторых из них.</p>
    <p>Еще одно очень важное направление деятельности Телестудии – антрепризный театр «Окна», созданный в 2016 году с постановки музыкальной комедии «Пальто из Бобруйска». С нашим спектаклем мы объездили всю Беларусь. И продолжаем творчески развиваться.</p>
</div>