@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Posts.PostsListViewModel
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer[$"ENUM-{Model.Type.ToString()}"].Value;
    ViewData["MaxWidth"] = 900;
}

<h1 class="display-4">@Localizer[$"ENUM-{Model.Type.ToString()}"]</h1>

<div class="d-flex flex-wrap my-3 py-2 border-top border-bottom">
    @{ await Html.RenderPartialAsync("PostListPaginationView", Model.PaginationViewModel); }
</div>

@{ await Html.RenderPartialAsync("PostListContainerView", Model.ContainerViewModel); }

<div class="d-flex flex-wrap my-3 py-2 border-top">
    <div class="ms-auto">
        @{ await Html.RenderPartialAsync("PostListPaginationView", Model.PaginationViewModel); }
    </div>
</div>