@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Posts.PostsListViewModel
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
    ViewBag.Title = Localizer[$"ENUM-{Model.Type.ToString()}"];
    ViewBag.MaxWidth = 900;
}

<h1 class="display-4">@Localizer[$"ENUM-{Model.Type.ToString()}"]</h1>

<hr/>

<div class="d-flex flex-wrap">
    @{ await Html.RenderPartialAsync("PostListPaginationView", Model.PaginationViewModel); }
</div>

<hr/>

@{ await Html.RenderPartialAsync("PostListContainerView", Model.ContainerViewModel); }

<hr/>

<div class="d-flex flex-wrap">
    <div class="ms-auto">
        @{ await Html.RenderPartialAsync("PostListPaginationView", Model.PaginationViewModel); }
    </div>
</div>