@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@using NovyGorodAsp.Models.Shared
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(ViewData["Title"]) - @(Localizer["company-name"])</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body class="bg-light d-flex flex-column top" style="height: 100vh">
<header class="container-fluid bg-white shadow-sm border-bottom fixed-top">
    <div class="container" style="max-width: 800px">
        @{ await Html.RenderPartialAsync("NavBarView", new NavBarViewModel()); }
    </div>
</header>
<main role="main" class="container-fluid mb-3">
    <div class="container" style="max-width: @ViewData["MaxWidth"]px">
        @RenderBody()
    </div>
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>