@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Shared.FooterViewModel
@inject IViewLocalizer Localizer

<div class="d-flex">
    <span class="m-auto">
        @($"{Model.GetCopyrightString(Localizer.GetString("company-name"))}, {Model.GetApplicationVersionString()}")
    </span>
</div>