@using Microsoft.AspNetCore.Mvc.Localization
@model NovyGorodAsp.Models.Shared.PostListContainerViewModel
@inject IViewLocalizer Localizer

<div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var post in Model.Posts)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img class="card-img-top user-select-none"
                     src="@post.Preview.Url"
                     alt="preview">
                <div class="card-body d-flex flex-column">
                    <div class="card-title my-0">@post.Title</div>
                    <div class="mt-auto d-flex flex-row">
                        <a class="card-link ms-auto user-select-none"
                           href="@Url.Action("Get", "Post", new {post.Id})">
                            @Localizer["more"]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>