@model ErrorViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Ошибка";
    ViewBag.MaxWidth = 720;
}

<div class="d-flex flex-column user-select-none">
    <img src="~/images/emoji/fearful_face_3d.png"
         width="64"
         height="64"
         alt="emoji"
         class="mx-auto"/>
    <h1 class="text-center fw-normal fs-4">Что-то&nbsp;пошло&nbsp;не&nbsp;так</h1>
    <p class="text-center lead fs-6">Повторите&nbsp;попытку&nbsp;позже</p>
</div>