@model NovyGorodAsp.Models.Error.ErrorViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Ошибка";
    ViewBag.MaxWidth = 720;
}

<div class="d-flex flex-column user-select-none">
    <img src="@Model.EmojiPath"
         width="64"
         height="64"
         alt="emoji"
         class="mx-auto"/>
    <h1 class="text-center fw-normal fs-4">@Html.Raw(Model.Title)</h1>
    <p class="text-center lead fs-6">@Html.Raw(Model.SecondaryText)</p>
</div>